  <table id="children_table" class="children_table">
    <thead><tr><th id="column_0">Children</th><th id="column_1"></th><th id="column_2"></th></tr></thead>
    <% row_num = 0 %> 
    <%= form.fields_for :children, :child_index => ->{ (Time.now.to_f * 10000).to_i } do |ff| %>
      <tr id="<%= h("child_#{ff.index}") %>" class="direction">              
        <td>
          <%= ff.text_field :firstName %>
        </td>
        <td>
          <%= ff.text_field :lastName %>
        </td>
        <td>
          <% if (ff.object.persisted?) %>
            <%= link_to "Delete", remove_child_person_path(person, :child_id => ff.object.id), :remote => :true, :method => :patch %>
          <% end %>
        </td>
      </tr>
      <% row_num += 1 %>
    <% end %>
    <tfoot><tr>
      <td><span class='add-child-link'><%= add_child_link("Add Child", person) %></span></td>
    </tr></tfoot>
  </table>
