<tr id="<%= h("#{row_id}") %>">
  <% view_key = person.lastName %>
  <% if (person.spouse && person.spouse.lastName != person.lastName) %>
    <% view_key += "/#{person.spouse.lastName}" %>
  <% end %>
  
  <td><%= link_to(view_key, person) %></td>
  <td><%= h("(#{resident_names(person)})") %></td>
  <% if (person.address) %>
    <td><%= person.address.street1 %></td>
    <td><%= person.address.street2 %></td>
    <td><%= person.address.city %></td>
    <td><%= person.address.state %></td>
    <td><%= person.address.zip %></td>
    <td><%= h("Last sent: #{person.address.lastSent}") if (person.address.lastSent) %></td>  
  <% else %>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  <% end %>
  <td>
  <% if (person.children.empty?) %>
    &nbsp;
  <% else %>
    <% child_names = Array.new %>
    <% person.children.each do |child| %>
      <% child_names << child.firstName %>
    <% end %>
    <%= h(child_names.join(", ")) %>
  <% end %>
  </td>
  <td>
    <% if (person.address) %>
      <%= link_to 'Mark Sent', mark_sent_address_path(person.address), :remote => true, :method => :patch) %>
    <% else %>
      &nbsp;
    <% end %>
  </td>
  <td><%= link_to 'Edit', edit_person_path(person) %></td>
  <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
