<p id="notice"><%= notice %></p>

<p>
  <%= full_name(@person) %><%= h(" & #{full_name(@spouse)}) if @spouse %>

  <%= h(@address.street1) %>
  <% unless (@address.street2.blank?) %>
    <%= h(@address.street2) %>
  <% end %>
  <%= h("#{@address.city}, #{@address.state} #{@address.zip}") %>
</p>

<%= link_to 'Edit Person', edit_person_path(@person) %> |
<%= link_to 'Back to People', people_path %>
