<%= form_with(model: setup_address(address), local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName, id: :address_lastName %>
  </div>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName, id: :address_firstName %>
  </div>

  <div class="field">
    <%= form.label :street1 %>
    <%= form.text_field :street1, id: :address_street1 %>
  </div>

  <div class="field">
    <%= form.label :street2 %>
    <%= form.text_field :street2, id: :address_street2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :address_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :address_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :address_zip %>
  </div>

Spouse:
  <%= render :partial => "spouse", locals: { :address => address } %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
