<p id="notice"><%= notice %></p>

<p>
  <% if (@address.addressee) %>
    <%= full_resident_name(@address.addressee) %>
  <% end %>

  <%= h(@address.street1) %>
  <% unless (@address.street2.blank?) %>
    <%= h(@address.street2) %>
  <% end %>
  <%= h("#{@address.city}, #{@address.state} #{@address.zip}") %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back To Addresses', addresses_path %>
