<!DOCTYPE html>
<html>
  <head>
    <title>Addressbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div id="header">
<span id="header-title">Address Book</span>

<span id="header-links">
  <% if session[:user_id] %>
  <% end %> | 
  <%= link_to 'New Address', new_person_path %> | 
</span>

</div>

    <div id="content">
      <%= yield %>
    </div>

  </body>
</html>
